{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:90%; ">
    <div>
      <center>
        {% if user.is_authenticated %} <img src="{{ avatar }}" /> Logged as <b>{{ name }}</b
        >, Click here to <a href="{% url 'logout' %}">Logout</a> {% else %} You are not logged in,
        please <a href="{% url 'social:begin' 'google-oauth2' %}"> Login </a> {% endif %}
      </center>
    </div>
    <div style="display: flex; flex-direction: horizontal;width:100%;">
      <div class="img-container" style="height:60px;margin-right: 20px;">
        <img src="{% static 'images/big-star-icon.png' %}" style="width: 60px; " />
        <div class="centered" id="favorite_count" style="font-size: 40px; color: rgb(44, 62, 80);">
          {{ favorite_count }}
        </div>
      </div>
      <div><h3 style="margin-bottom:40px;">Buku-buku menarik bulan ini</h3></div>
    </div>

    <div class="input-group" style="margin-bottom: 15px;">
      <input
        type="text"
        onkeypress="return search_key(event)"
        class="form-control"
        id="keyword"
        placeholder="Masukan keyword..."
      />
      <div class="input-group-btn">
        <button
          id="submit"
          class="btn btn-outline-secondary btn-primary"
          type="button"
          onclick="fetch_book()"
        >
          Search
        </button>
      </div>
    </div>
    <table id="book_list" style="display: none"></table>
    <center><h4 id="loading" style="display: none;">Loading...</h4></center>
  </div>
</div>
<script>
  const static_path = "{% static '' %}";
</script>
<script src="{% static 'js/lab9.js' %}"></script>
{% endblock %}
