{% extends 'base.html' %} {% load static %} {% block content %}
<script>
  function change_style_to_dark() {
    $('body').css('background', 'linear-gradient(to bottom right, rgb(0, 1, 19), rgb(20, 8, 135))');
    $('.card').css('background-color', '');
    $('#particles-js').show();
  }
  function change_style_to_light() {
    $('body').css('background', 'white');
    $('body').css('background-color', 'white');
    $('body').css('background-image', 'url("/static/images/bg-light.jpg")');
    $('body').css('background-size', 'cover');
    $('.card').css('background-color', '#e8f0ff');
    $('#particles-js').hide();
  }
  change_style_to_light();
  let in_loading = true;
  $(document).ready(function() {
    setTimeout(function() {
      if (in_loading) {
        in_loading = false;
        change_style_to_dark();
        $('#loading').hide();
        $('#content').show();
      }
    }, 3000);
  });
</script>
<div id="loading" style="height: 100%; width: 100%; ">
  <center><img src="{% static 'images/loading.gif' %}" /></center>
</div>
<div id="content" style="display:none;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4"><img src="{% static 'images/indra.jpg' %}" id="profile-pic" /></div>
    <div class="my-section col-md-6">
      <div class="card">
        <h3>Muhammad Indra Ramadhan</h3>
        Computer Science Student<br /><br />
        <span class="glyphicon glyphicon-envelope"></span> mindrar96@gmail.com<br />
        <span class="glyphicon glyphicon-earphone"></span> +62 8777 426 1350<br />
        <span class="glyphicon glyphicon-map-marker"></span> Ciputat, Tangerang Selatan.<br />
        <br />
        <a
          href="https://www.facebook.com/Muhammad.Indra.VB6"
          class="fa fa-facebook"
          target="_blank"
        ></a>
        <a
          href="https://www.linkedin.com/in/muhammadindrar"
          target="_blank"
          class="fa fa-linkedin"
        ></a>
        <a href="https://www.instagram.com/indra_vb6/" target="_blank" class="fa fa-instagram"></a>
        <div
          class="btn-group btn-group-toggle"
          data-toggle="buttons"
          style="margin-left:20px;float:right;"
        >
          <label class="btn btn-primary btn-secondary active">
            <input
              onchange="change_style_to_dark()"
              type="radio"
              name="options"
              id="option1"
              autocomplete="off"
              checked
            />
            Dark
          </label>
          <label class="btn btn-primary btn-secondary">
            <input
              onchange="change_style_to_light();"
              type="radio"
              name="options"
              id="option2"
              autocomplete="off"
            />
            Light
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="my-section">
    <div class="card">
      <h3 class="center-title">About Me</h3>
      <p>
        Saya seorang mahasiswa ilmu komputer, universitas indonesia. saya sudah menyukai komputer
        sejak saya masih SD. Sebelum terjun ke dunia komputer, saya sudah mencoba beberapa bidang
        lain seperti melukis, puisi bahkan olahraga.
      </p>
      <p>
        Saya seorang introvert tetapi mampu untuk bekerja sama dalam tim, mempunyai jiwa pantang
        menyerah jika diberi kepercayaan.
      </p>
    </div>
  </div>
  <div class="my-section" style="position: relative;">
    <div class="card" style="height: 100%;">
      <div id="flip1" style="cursor: pointer;">
        <center><h3>Aktivitas dan Pengalaman</h3></center>
      </div>
      <div id="panel1">
        Software Engineer Intern at Bizzy Indonesia<br />
        Software Engineer Intern at GDP Labs
      </div>
    </div>
  </div>
  <div class="my-section" style="position: relative;">
    <div class="card" style="height: 100%;">
      <div id="flip2" style="cursor: pointer;">
        <center><h3>Organisasi dan Kepanitiaan</h3></center>
      </div>
      <div id="panel2">
        Panitia OSN 2018 bidang Informatika<br />
        Panitia BETIS Fasilkom 2018 divisi peserta<br />
        Panitia Compfest X divisi IT-Dev
      </div>
    </div>
  </div>
  <div class="my-section" style="position: relative;">
    <div class="card" style="height: 100%;">
      <div id="flip3" style="cursor: pointer;">
        <center><h3>Prestasi</h3></center>
      </div>
      <div id="panel3">
        Finalist, ACM-ICPC Asia-Jakarta Regional Programming Contest 2017<br />
        Finalist, Gemastik 10 - Programming Contest<br />
        Honorable Mention, Senior Competitive Programming Contest Compfest 9<br />
        Bronze Medals, The Asia-Pacific Informatics Olympiad 2017<br />
        Gold Medals, National Science Olympiad in Informatics 2016<br />
        Bronze Medals, National Science Olympiad in Informatics 2015
      </div>
    </div>
  </div>
</div>

{% endblock %}
