{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h3 class="center-title">Hello, Apa kabar?</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <textarea name="status" id="status" class="form-control" placeholder="Tuliskan statusmu ..."></textarea>
      <center><input style="margin-top:20px;" type="submit" class="btn btn-primary" value="Submit" id="submit" /></center>
    </form>
    <a href="profile"><button class="btn btn-default">Profile page</button></a>
  </div>
  <div class="card" style="height:100%; width:70%; margin-top:30px;">
    {% for s in data %}
    <h4>{{s.status}}</h4>
    {{s.date}}
    <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}
