{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to My Website !</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/app.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background-effect.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</head>

<body>
  <div id="particles-js" style="position: fixed;width:100%; height: 100%;"></div>
  <div class=" container
              my-container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'js/particles.min.js' %}"></script>
  <script src="{% static 'js/background-effect.js' %}"></script>

</body>

</html>
